---
global:
  evaluation_interval: 15s
  external_labels:
    monitor: codelab-monitor
  scrape_interval: 15s
rule_files: ~
scrape_configs:
  -
    job_name: prometheus
    scrape_interval: 5s
    static_configs:
      -
        targets:
          - "localhost:9090"
  -
    job_name: example-random
    scrape_interval: 5s
    static_configs:
      -
        labels:
          group: node_proc
        targets:
          - "10.0.0.5:9100"
          - "10.0.0.7:9100"
          - "10.0.0.13:9100"
          - "10.0.0.14:9100"
          - "10.0.0.35:9100"
      -
        labels:
          group: python_random
        targets:
          - "10.0.0.5:8000"
          - "10.0.0.7:8000"
          - "10.0.0.13:8000"
          - "10.0.0.14:8000"
          - "10.0.0.35:8000"
